body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.contenedor {
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 2px solid black;
  overflow: hidden;
}

h1 {
  color: #333;
  text-align: center;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #555;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  margin-top: 10px;
  margin-left: 45%;
  width: 15%;
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
}

button:hover {
  background-color: #45a049;
}

#listaDatos {
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

@media (max-width: 800px) {
  .contenedor {
    max-width: 80%;
    margin: 50px auto;
  }

  button {
    margin-left: 0;
    width: 100%;
  }
}
@media (max-width: 200px) {
  .contenedor{
    width: 100%;
    font-size: 6px;
  }
}
@media (max-width: 200px) {
  .contenedor{
    font-size: 4px;
  }
}
